## 1.2. Tabela de intervenções

O objetivo do notebook é ler os dados da tabela de intervenções e armazená-los.

In [1]:
import pandas as pd
import os

In [2]:
def path(name):
    path = os.path.join('..','..','1_dados_raw','tabela_de_intervencoes',name)
    return(path)

def path_out(name):
    path = os.path.join('out',name)
    return(path)

In [3]:
name = 'Tabela de intervenções SC302A - parcial até JUN-2019 (1).xlsx'

data = pd.read_excel(path(name))
data = data[data['TAG'].str.contains('302A')]
data.shape

(18, 9)

In [4]:
data.head(3)

,TAG,Nota PM,Ordem,Inicios dos trabalhos,Termino dos trabalhos,Motivo,Obs,Serviços,Perdas
0,RS01-SC-302A,9.600012e+10,9858395.0,01.03.2016,04.03.2016,VERIFICAR VALVULAS 2º EST COM TEMP ALTA,NaN,Inspecionado válvulas e substituido aneis rasp...,290.0
4,RS01-SC-302A,9.300075e+10,9880110.0,04.05.2016,04.05.2016,C302A -> Alarmando vibração no 1º estági,NaN,Inspecionado válvulas de sucção e descarga do ...,NaN
10,RS01-SC-302A,9.300075e+10,9870080.0,06.04.16,18.04.16,Tempertura elevada na descarga do 2º estágio,Ultima 16000 hs,"*Susbtituição das camisas dos cilindros, subst...",2400.0

In [5]:
# ajuste na falha de leitura do excel (gambiarra, cuidado)
# data.iloc[0,3] = '30.09.2017'
# data.iloc[5,3] = '26.09.2012'
# data.iloc[5,4] = '27.09.2012'

In [6]:
# Organizando dataframe

data['Inicios dos trabalhos'] = pd.to_datetime(data['Inicios dos trabalhos'],format = '%d.%m.%Y',errors = 'coerce')
data['Termino dos trabalhos'] = pd.to_datetime(data['Termino dos trabalhos'], format = '%d.%m.%Y',errors = 'coerce')
data.index = data['Inicios dos trabalhos']
data = data.sort_index(ascending=True)
data['tempo_execucao'] = data['Termino dos trabalhos'] - data['Inicios dos trabalhos']

In [7]:
#Organizando dataframe
data = data.rename(columns={'Inicios dos trabalhos' : 'Data'})
data['Data'] = pd.to_datetime(data['Data'],format = '%d.%m.%Y',errors = 'coerce')
data['Data'] = pd.to_datetime(data['Data'], format = '%d.%m.%Y',errors = 'coerce')
data.index = data['Data']
data =data.sort_index(ascending=True)
#data['tempo_execucao'] = data['Termino dos trabalhos'] - data['Data']

In [8]:
data.head(2)

,TAG,Nota PM,Ordem,Data,Termino dos trabalhos,Motivo,Obs,Serviços,Perdas,tempo_execucao
Data,,,,,,,,,,
2011-10-29,RS01-SC-302A,50028866.0,9346741.0,2011-10-29,2011-11-21,"Revisão geral, susbtituição completa do compre...",NaN,NaN,NaN,23 days
2012-02-16,RS01-SC-302A,50030426.0,50032820.0,2012-02-16,2012-02-22,Quebra do virabrequim,NaN,NaN,NaN,6 days

In [9]:
name = 'tabela_de_intervencoes_out.csv'
data.to_csv(path_out(name))

In [10]:
name = 'tabela_de_intervencoes_out.xlsx'
data.to_excel(path_out(name))