In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

%run ..\..\..\..\funcoes_base_global\funcoes_plot.py

In [2]:
input_path  = os.path.join('..','..','1_preprocessamento','out','')
output_path = os.path.join('out','')
if not os.path.exists(output_path): 
    os.mkdir(output_path)

In [23]:
tag_press = ['Date','PI3417.PV', 'PI3406.PV']

tag_temp = ['Date', 'Temp_Suc_2', 'Temp_Desc_2']

tag_gas = [ 'Date',
            'AI25121.PV',
            'AI25131.PV',
            'AI25141.PV',
            'AI25151.PV',
            'AI25161.PV',
            'AI25171.PV',
            'AI25181.PV',
            'AI25191.PV']

In [27]:
df_temp = pd.read_csv(input_path+'df_temp_tratada.csv.gz', compression = 'gzip', parse_dates = ['Date'], index_col = 'Date', usecols = tag_temp)
df_temp.head()

                     Temp_Suc_2  Temp_Desc_2
Date
2009-01-12 10:52:00         NaN          NaN
2009-01-12 10:53:00         NaN          NaN
2009-01-12 10:54:00         NaN          NaN
2009-01-12 10:55:00         NaN          NaN
2009-01-12 10:56:00         NaN          NaN

In [28]:
df_gas = pd.read_csv('..\\..\\2_exploracao_e_visualizacao\\out\\df_gas_filtrada.csv.gz', compression = 'gzip', parse_dates = ['Date'], index_col = 'Date', usecols = tag_gas)
df_gas.head()

,AI25121.PV,AI25131.PV,AI25141.PV,AI25151.PV,AI25161.PV,AI25171.PV,AI25181.PV,AI25191.PV
Date,,,,,,,,
2009-01-10 14:38:00,6.574,2.172,0.049,6.989,0.421,0.175,0.014,0.0
2009-01-10 14:39:00,2.857,0.949,0.006,1.059,0.063,0.021,0.007,0.0
2009-01-10 14:40:00,2.857,0.949,0.006,1.059,0.063,0.021,0.000,0.0
2009-01-10 14:41:00,2.857,0.949,0.006,1.059,0.063,0.021,0.000,0.0
2009-01-10 14:42:00,2.857,0.949,0.006,1.059,0.063,0.021,0.000,0.0

In [29]:
df_pressao = pd.read_csv('..\\..\\2_exploracao_e_visualizacao\\out\\df_pressao_filtrada.csv.gz', compression = 'gzip', parse_dates = ['Date'], index_col = 'Date', usecols= tag_press)
df_pres.head()

                     PI3406.PV  PI3417.PV
Date
2015-01-06 04:56:00      8.257      2.833
2015-01-06 04:57:00     14.159      4.379
2015-01-06 04:58:00     14.699      4.353
2015-01-06 04:59:00     14.565      4.432
2015-01-06 05:00:00     14.467      4.475

In [36]:
df_gas.columns = ['Eteno', 'Etano', 'Propeno', 'Propano', 'Buteno', 'Butano', 'Hexeno', 'Hexano']
df_pressao.columns = ['Pres_Desc_2', 'Pres_Suc_2']

df = pd.concat([df_gas, df_pressao, df_temp], axis=1, sort=False)
df = df.dropna()

In [2]:
df.head()

NameError: name 'df' is not defined

In [38]:
df.to_csv(output_path+'df_filtrado.csv.gz', compression = 'gzip')